@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Emoji&display=swap');

body {
    font-family: "Roboto Slab", "Noto Emoji";
}

h1,h2,h3,h4,h5,h6 {
    font-family: inherit;
}

a, a:hover, .post .draft-label {
    color: #000;
}

.wrapper {
    max-width: 640px;
}

.post blockquote {
    border-color: #000;
    font-size: 1.15rem;
    font-family: inherit;
}

.post-tags .tags a {
    border-color: #000;
    color: #000;
}

.post .post-content {
    color: #5d686f;
}

.posts .post a.title {
    font-size: 1.4rem;
}

.post figcaption > h4 {
    font-style: italic;
    color: #999;
}

ul#results {
    list-style: disc;
}

input#search-input {
    padding: 5px 9px;
    margin-top: 1em
}

form#search > button[type="submit"] {
    padding: 3px 9px;
    margin-top: 1em
}

form#search > button > a {
    color: #333;
}