@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Emoji&display=swap');

body {
    font-family: "Roboto Slab", "Noto Emoji";
}

h1,h2,h3,h4,h5,h6 {
    font-family: inherit;
}

a, a:hover, .post .draft-label {
    color: #000;
}

.wrapper {
    max-width: 640px;
}

.post-tags .tags a, blockquote {
    border-color: #000;
    font-size: 1.15rem;
    font-family: inherit;
}

.post .post-content {
    color: #5d686f;
}

.posts .post a.title {
    font-size: 1.4rem;
}

.post figcaption > h4 {
    font-style: italic;
    color: #999;
}